@charset "UTF-8";

/* 공통 */
.main_frame {
	padding-top: 2%;	
	padding-bottom: 10%;	
	width: 100%;
	height: auto;
	/* background-color: blue; */ 
}

.main_div{
	width: 760px;
	height: 774px;
	margin: 0 auto;
	/* background-color: red111; */
}

.head_div{
	margin-bottom: -60px;
	margin-right: 10px;
}

.inline_div{
	display: inline;
}

.float_r_text{
	float : right;
}

.inline_div_content_1{
	font-size: 13.5px;
	font-weight: bold;
}

.inline_div_content_2{
	font-size: 12px;
	color: gray;
}

.inline_div_content_3{
	position: relative;
	left: 20px;
	bottom: 0.2px;
	font-size: 11.5px;
	font-weight: bold;
}

.inline_div_content_4{
	position: relative;
	left: 17px;
	font-size: 12px;
	color: gray;
}

.inline_div_content_5{
	font-size: 12px;
	color: gray;
}

.hr{
	background-color: lightgray;
	height: 1px;
	border: 0;
	margin-bottom: 20px;
}

.hr_2{
	background-color: lightgray;
	height: 1px;
	border: 0;
	margin: 20px 0 20px 0;
}

.hr_3{
	background-color: lightgray;
	height: 1px;
	border: 0;
	margin: 50px 0 20px 0;
}

/* 설정 아이콘 */
.naver_icon_1{
	display: inline-block;
	width: 35px;
	position: relative;
	top: 4px;
	left: 20px;
}

.plus_icon_1{
 	/* border: 1px solid red; */
	width: 17px;
	height: 17px;
	overflow: hidden;
}

.icon_img_1{
	width: 450px;
	height: 450px;
	position: relative;
	bottom: 433px;
	left: 1.5px;
} 

/* 왼쪽 화살표 아이콘 */
.naver_icon_2{
	display: block;
	width: 35px;
	position: relative;
	top: 86px;
	right: 23px;
}

.plus_icon_2{
 	/* border: 1px solid red; */
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.icon_img_2{
	width: 450px;
	height: 450px;
	position: relative;
	bottom: 311px;
	right: 47px;
} 

/* 오른쪽 화살표 아이콘 */
.naver_icon_3{
	display: block;
	width: 35px;
	position: relative;
	top: 46px;
	left: 734px;
}

.plus_icon_3{
 	/* border: 1px solid red; */
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.icon_img_3{
	width: 450px;
	height: 450px;
	position: relative;
	bottom: 311px;
	right: 92px;
} 

/* 플러스 icon */
.naver_icon{
	display: block;
	width: 35px;
	position: relative;
	bottom: 43px; 
	left: 358px;
}

.plus_icon{
 	/* border: 1px solid red; */
	width: 44px;
	height: 44px;
	overflow: hidden;
}

.icon_img_4{
	width: 500px;
	height: 500px;
	position: relative;
	bottom: 398px;
	left: -2px;
} 

#inline_div_content_icon{
	display: block;
	width: 100px;
	position: relative;
	top: 10px;
	right: 22px;
}

.list_button{
	display: inline-block;
	width: 92px;
	height: 49px;
	text-decoration: none;
	color: black;
}

#list_button_check_1{
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #35AE5E;
	color: white;
}

#list_button_check_2{
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #EBAA00;
	color: white;
}

#list_button_check_3{
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #E65DA0;
	color: white;
}

#list_button_check_4{
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #5290ff;
	color: white;
}

#list_button_check_5{
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #c08d31;
	color: white;
}

#list_button_check_6{
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	background-color: #66c971;
	color: white;
}

.subject_list_div{
	position: relative;	
	margin: 0px;
}

.inline_div_right{
	display: inline-block;
	float: right;
}

.subject_list_all{
	padding: 0px;
	font-size: 0px;
	width: 750px;
	height: 49px;
	display: table;
	border-collapse: collapse;
	margin: 0px 0px 20px 0px;
}

.subject_list_all > li {
	list-style-type: none;
	display: table-cell;
	border: 1px solid lightgray;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

.subject_list_all > li:nth-child(1) a:hover {
	color: #e65da0;
}
.subject_list_all > li:nth-child(2) a:hover{
	color: #0147b5;
}
.subject_list_all > li:nth-child(3) a:hover{
	color: #4a94e1;
}
.subject_list_all > li:nth-child(4) a:hover{
	color: #66c971;
}
.subject_list_all > li:nth-child(5) a:hover{
	color: #35ae5e;
}
.subject_list_all > li:nth-child(6) a:hover{
	color: #5290ff;
}
.subject_list_all > li:nth-child(7) a:hover{
	color: #ebaa00;
}
.subject_list_all > li:nth-child(8) a:hover{
	color: #c08d31;
}


/* 메인 리스트 영역 css */
/* 경제 */
.content_list_detail{
	list-style: none;
}

.img_case{
	display: inline-block;
	padding: 0px;
	width: 170px;
	height: 114px;
	margin: 0px 10px 5px 0px;
	overflow: hidden;
}

.content_list_detail_img{
	display: inline-block;
	width: 170px;
	height: 114px;
	transition: all 0.1s linear;
}

.content_list_detail_img:hover{
	transform: scale(1.04);
}

.content_list_detail_div{
	display: inline-block;
	width: 512px;
	height: 102px;
	position: relative;
	top: -20px;
	margin-left: 8px;
}

.content_list_economy_span1{
	display: block;	
	color: #35ae5e;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 3px;
}

.content_list_economy_span2{
	display: block;	
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 3px;
}

.content_list_economy_span3{
	width : 570px;
	font-size: 14px;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 3px;
}

.content_list_economy_span4{
	font-size: 12px;
}

.content_list_economy_span5{
	color: gray;	
	font-size: 12px;
}

.content_list_economy_span6{
	display: inline-block;
	width: 180px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* 레시피 */
.content_list{
	padding: 0px;
	margin: 0px 0px -10px 0px;
}

.content_list_topContent{
	display: inline-block;
}

.img_case_top{
	display: inline-block;
	padding: 0px;
	width: 362px;
	height: 178px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
}

.content_list_detail_topImg{
	display: inline-block;
	width: 362px;
	height: 178px;
	transition: all 0.1s linear;
}

.content_list_detail_topImg:hover{
	transform: scale(1.04);
}

.content_list_detail_topDiv{
	display: block;
	width: 364px;
	height: 121px;
}

.content_list_detail_topSpan1{
	display: block;	
	color: #EBAA00;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 3px;
	width: 362px;
}

.content_list_detail_topSpan2{
	display: block;	
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
	width: 362px;
}

.content_list_detail_topSpan3{
	height: 35px;
	font-size: 13px;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 3px;
	width: 362px;
}

.content_list_detail_topSpan4{
	font-size: 12px;
	width: 362px;
}

.content_list_detail_topSpan5{
	color: gray;	
	font-size: 13px;
	width: 362px;
}

.content_list_recipe_span1{
	display: block;	
	color: #EBAA00;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 3px;
}

.content_list_recipe_span2{
	display: block;	
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
}

.content_list_recipe_span3{
	width : 570px;
	font-size: 13px;
	color: a9a9a9;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 3px;
}

.content_list_recipe_span4{
	font-size: 12px;
	color: a9a9a9;
}

.content_list_recipe_span5{
	color: gray;	
	font-size: 12px;
}

/* 게시글 중단 리스트 노출 (3개) middle */

.img_case_middle{
	display: inline-block;
	padding: 0px;
	width: 230px;
	height: 128px;
	margin: 0px 10px 10px 0px;
	overflow: hidden;
}

.content_list_detail_middleImg{
	display: inline-block;
	width: 230px;
	height: 128px;
	transition: all 0.1s linear;
}

.content_list_detail_middleImg:hover{
	transform: scale(1.04);
}

.content_list_detail_middleDiv{
	display: block;
	width: 232px;
	height: 63px;
}

#content_list_middleContent{
	margin: 0px 14.3px 0px 14.3px;
}

/* 엔터 */
.enter_content_div{
	width: 750px;
	height: 359px;
}

.enter_content_main{
	display: inline-block;
	margin-right: 14px;
	width: 364px;
	height: 279px;
	vertical-align: top;
}

.enter_content_main_img{
	width: 364px;
	height: 180px;
	overflow: hidden;
}

.enter_content_img{
	width: 364px;
	height: 180px;
	transition: all 0.1s linear;
}

.enter_content_img:hover{
	transform: scale(1.04);
}

.enter_content_main_text{
	width: 364px;
	height: 99px;
	margin-top: 10px;
	display: inline-block;
}

.enter_content_sub{
	width: 364px;
	height: 322px;
	display: inline-block;
}

.enter_content_text{
	font-size: 12px;
	font-weight: bold;
	color: #E65DA0;
}

.enter_content_text2{
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 13px;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#enter_content_text2{
	display: block;
	margin-top: 3px;
}

#enter_content_text3{
	display: block;
	margin-top: 4px;
}

.enter_content_sub_list{
	margin-bottom: 10px;
}

.enter_content_sub_img{
	display: inline-block;
	width: 98px;
	height: 98px;
	overflow: hidden;
}

.enter_content_img_2{
	width: 98px;
	height: 98px;
	transition: all 0.1s linear;
}

.enter_content_img_2:hover{
	transform: scale(1.04);
}

.enter_content_sub_text{
	display: inline-block;
	vertical-align: top;
	width: 248px;
	height: 87px;
	margin-left: 10px;
}

.list_top_menu{
	width: 712px;
	border: 1px solid #dae1e6;
	background-color: #f7f9fa;
	padding: 14px 18px 11px 18px;
	margin-top: 15px;
	/* vertical-align: middle; */
}

.list_menu_title{
	float: left;
	border-right: 1px solid #dae1e6;
	padding: 0px 20px 0px 10px;
	font-size: 13px;
	font-weight: bold;
	color: #E65DA0;
}

.list_menu_content{
	list-style: none;
	display: inline;
}

.list_menu_content_detail{
	float: left;
	margin-left: 20px;
	font-size: 13px;
	font-weight: bold;
}

.enter_content_list{
	padding: 0px;
	margin: 20px 0px 30px 0px;
	width: 780px;
}

.enter_content_detailList{
	display: inline-block;
	margin: 0px 6px;
}

#enter_content_text_span{
	display: inline-block;
	margin-bottom: 6px;
}

#content_list_enter_span4{
	font-weight: 300;
}

#content_list_enter_span5{
	font-weight: 300;
	width: 400px;
}

.enter_music_header{
	width: 750px;
	height: 29px;
}

#music_header_span1{
	float: right;
}

.music_content{
	width: 750px;
	height: 406px;
}

.music_list{
	display: inline-block;
	width: 360px;
	height: 384px;
}

#music_list_1{
	margin-right: 23px;
}

.music_list_detail{
	width: 360px;
	height: 48px;
	margin: 0px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.music_span{
	display: inline-block;
	width: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: 1000;
	float: left;
	margin: 5px 20px 0px 10px;
}

.music_img_case{
	float: left;
	margin-right: 15px;
}

.music_img{
	width: 48px;
	height: 48px;
}

.music_info{
	float: left;
	margin-top: 6px;
	width: 195px;
	margin-right: -45px;
}

.music_info > span:first-child{
	display: block;
	width: 150px;
	height: 16px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.music_info > span:nth-child(2){
	float: left;
	font-size: 12px;
	margin-right: 7px;
}

.music_info > span:last-child{
	float: left;
	display: inline-block;
	font-size: 12px;
	color: gray;	
	width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

/* 재생 아이콘 */
.music_icon_div_1{
	display: inline-block;
	width: 35px;
	position: relative;
	top: 15px;
	left: 23px;
}

.music_icon_1{
 	/* border: 1px solid red; */
	width: 18px;
	height: 18px;
	overflow: hidden;
}

.music_img_1{
	width: 500px;
	height: 500px;
	position: relative;
	bottom: 74px;
	right: 482px;
} 

/* 가사 아이콘 */
.music_icon_div_2{
	display: inline-block;
	width: 35px;
	position: relative;
	top: 16.5px;
	left: 18px;
}

.music_icon_2{
 	/* border: 1px solid red; */
	width: 19px;
	height: 19px;
	overflow: hidden;
}

.music_img_2{
	width: 500px;
	height: 500px;
	position: relative;
	bottom: 377px;
	right: 458px;
}

.music_hr{
	background-color: lightgray;
	height: 1px;
	border: 0;
	margin: 0px;
} 

/* 스포츠 */
#sports_top_div{
	height: 80px;
}

.sports_content_detailList{
	display: inline-block;
	margin: 0px 6px 25px 6px;
	vertical-align: top;
}

.sports_content_text2{
	width: 180px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sports_color{
	color: #0147b5;
}

/* 추천 구독 */
.board_radius{
	float: left;
	display: inline-block;
	width: 45px;
	height: 25px;
	position: relative;
	bottom: 3px;
	border-radius : 15px;
	background-color: #5290ff;
	margin-right: 7px;
}

.recommend_menu_all{
	display:inline-block;
	margin: 3px 1px 0px 0px;
	width: 40px;
	color: white;
	border-right: 0px;
}

.side_border{
	border-right: 1px solid #dae1e6;
	width: 35px;
}

.dot_margin{
	margin-left: 10px;
	margin-right: 4px;
	color: #dae1e6;
}

.margin_left8{
	margin-left: 8px;
}

.recommend_color{
	color:#5290ff;
}

.black_color{
	color:black;
}

.recommend_content_detailList{
	display: inline-block;
	margin: 0px 6px -5px 6px;
	vertical-align: top;
}

/*  네이버 자동차 */

.car_list{
	display: inline-block;
	margin-top: 30px;
}

.car_list_content{
	display: inline-block;
	width: 179px;
	height: 159px;
}

.car_list:nth-child(2){
	margin-left: 5px;
}
.car_list:nth-child(3){
	margin-left: 5px;
}
.car_list:nth-child(4){
	margin-left: 5px;
}

.car_content_img_div{
	width: 179px;
	height: 84px;
	overflow: hidden;
}

.car_content_img{
	width: 179px;
	height: 84px;
	transition: all 0.1s linear;
}

.car_content_img:hover{
	transform: scale(1.04);
}

/*  네이버 리빙 */

.living_color{
	color: #c08d31;
}

.lv_div{
	margin-bottom: -40px;
}

.living_middle_content{
	margin-left: -42px;
	margin-bottom: -10px;
}

.naver_living_1{
	display: inline-block;
	width: 35px;
	position: relative;
    top: 587px;
    left: 174px;
}

.naver_living_icon_1{
 	/* border: 2px solid red; */
	width: 14px;
	height: 14px;
	overflow: hidden;
}

.living_iconImg_1{
	width: 600px;
	height: 600px;
	position: relative;
	bottom: 570px;
	left: 580px;
} 

.living_font{
	color: #404040;
	font-size: 13px;
	font-weight: 300;
}

.loving_content_fc{
	color: #404040;
	font-weight: 300;
}

.lv_img_case_middle{
	display: inline-block;
	width: 232px;
	height: 130px;
	margin: 0px 15px 0px 2px;
	overflow: hidden;
	z-index: 2;
}

.lv_content_list_detail_middleImg{
	display: inline-block;
	width: 232px;
	height: 130px;
	transition: all 0.1s linear;
}

.lv_content_list_detail_middleImg:hover{
	transform: scale(1.04);
}

.lv_icon_3{
	display: block;
	width: 35px;
	position: relative;
    bottom: 141px;
    left: 721px;
}

.lv_plus_icon_3{
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.lv_img_text_div{
	position: relative;
	top: 30px;
	left: 2px;
	background-color: #c08d31;
	width: 43.5px;
	height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: white;
	z-index: 1;
}

.lv_img_text{
	display: inline-block;
	margin-top: 6px;
}
	
/* 네이버 웹툰 */
.wt_color{
	color: #66c971;
}

#wt_content_text1{
	margin: 5px 0px 7px 0px;
	font-weight: bold;
	font-size: 13px;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}	

#wt_content_text2{
	margin-bottom: -13px;
}

.wt_content_header{
	margin-top: 25px;
	width: 750px;
	height: 29px;
}

.wt_content_span1{
	float: left;
	display: inline-block;
	width: 90px;
	border-right: 1px solid #dae1e6;
	font-size: 13.5px;
	font-weight: bold;
}

.wt_board_radius{
	float: left;
	display: inline-block;
	width: 45px;
	height: 25px;
	position: relative;
	bottom: 3px;
	border-radius : 15px;
	background-color: #66c971;
	text-align: center;
	font-size: 12px;
	color: white;
}

.wt_board_radius_text{
	display: inline-block;
	margin-top: 4px;
}

.wt_rank_font{
	font-size: 13px;
	font-weight: 600;
	color: #404040;
}


.wt_info{
	float: left;
	margin-top: 6px;
	width: 230px;
	margin-right: -45px;
}

.wt_info > span:first-child{
	display: block;
	width: 150px;
	height: 16px;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: 600;
}

.wt_info > p{
	margin: 0px;
	width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wt_info > p > span:nth-child(1){
	float: left;
	font-size: 12px;
	margin-right: 7px;
}

.wt_info > p > span:last-child{
	float: left;
	font-size: 12px;
	color: gray;	
	width: 80px;
}


